.btn-flat {
    background-color: #f8f6f7;
    color: rgb(17, 15, 15);
    border-radius: 0%;
  }

  .btn-cart {
    background-color: #050505;
    color: white;
    border-radius: 0%;
  }

  .btn-cart:hover {
    background-color: #050505;
    color: white;
    border-radius: 0%;
  }

  .btn-flat:hover {
    background-color: #f8f6f7;

    border-color: #640101 4px;
  }

  .btn-lg {
    width: 100%;
    font-size: 1.5rem;
  }


/* Solo para separar un poco, aplica tus propios estilos */
.stock-size {
  
  padding:10px;
}

.stock-sizeX{


}


.stock-colorX{
  
  background:rgb(168, 2, 2);
  
}
/* Los radios dentro de etiqueta no son visibles */
.stock-size label input[type="radio"] {
  display:none;
}
/* Estilos generales de spans cuando el radio no está seleccionado */
.stock-size label span {
  color:black;
  background:white;
  border:1px black solid;
  width: 3px;
  margin:5px 7px;
  min-width: 400px;
  padding:2px 5px;
}
/* Cambiar span cuando el radio está deshabilitado */
.stock-size label input[type="radio"]:disabled ~ span {
  color:#ccc;
  background:#777;
}
/* Cambiar span cuando se selecciona un radio */
.stock-size label input[type="radio"]:checked ~ span {
  color:white;
  background:black;
}


.stock-size .stock-sizeX label span {
  color:black;
  background:rgb(243, 3, 3);
  border:1px black solid;
  width: 3px;
  margin:5px 7px;
  min-width: 400px;
  padding:2px 5px;
}

.stock-size label span {
  color:black;
  background:white;
  border:1px black solid;
  width: 3px;
  margin:5px 7px;
  min-width: 400px;
  padding:2px 5px;
}